@media all and (max-width: 1400px){
    .container{
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media all and (max-width: 1050px){
}
@media all and (max-width: 868px){
}
@media all and (max-width: 642px){
    .heading-div{
        flex-direction: column;
    }
    .nav-menu{
        margin-bottom: 30px;
    }
    .nav-menu a{
        font-size: 15px;
        padding: 5px;
        margin: 0 10px;
    }
    .my-images{
        flex-direction: column;
    }
    .image{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .portfolio-items img{
        width: 47%;
    }
}
@media all and (max-width: 512px){
    .blog-text{
        float: none;
        padding: 0;
        width: 100%;
    }
    form input, form textarea{
        width: 90%;
    }
}
@media all and (max-width: 420px){
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .nav-menu{
        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: -120px;
    }
    .nav-menu a{
        font-size: 18px;
        margin: 20px;
    }
    .hamburger-menu{
        display: inline;
    }
}