*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI',sans-serif;
    font-weight: 400;
    color: #121212;
}
li{
    list-style: none;
    display: inline-block;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1400px;
    margin: 0 auto;

}
/* HEADER */
header{
    width: 100%;
    color: #121212;
}
.heading-div{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
}
.heading-div img{
    width: 50px;
}
.nav-menu a{
    color: #121212;
    padding: 10px 10px;
    margin: 0 20px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .3s ease;
}
.nav-menu a:hover {
    color: crimson;
}
/* HEADER SECTION */
.header-section{
    background-image: url(../img/cover.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 80vh;
}

/* STICKY */

.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}

/* MOBILE NAVIGATION */
.hamburger-menu{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}
.hamburger{
    width: 30px;
    height: 3px;
    background-color: #121212;
    border-radius: 10%;
    margin: 5px;
}
/* ABOUT SECTION  */
.about-me{
    margin-top: 40px;
}
.section-heading{
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 5px;
}
.about-me p{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 60px;
}
.line{
    width: 100%;
    height: 2px;
    background-color: crimson;
}
.my-images{
    display: flex;
    justify-content: space-between;
}
.image{
    width: 32%;
}
.image img{
    width: 100%;
}
.image h3{
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 18px;
}
/* PORTFOLIO */
.portfolio{
    margin-top: 80px;
}
.portfolio-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}
.portfolio-items img{
    width: 32%;
    margin-bottom: 30px;
}
/* BLOG */
.blog{
    margin-top: 60px;
}
.blog-text{
    margin-top: 40px;
}
.blog-text img{
    width: 300px;
    float: left;
    padding-right: 60px;
    padding-bottom: 20px;
}
.blog-text p{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}
span{
    padding-left: 80px;
    font-size: 30px;
    font-weight: 400;
}
/* CONTACT */
.contact{
    margin-top: 80px;
}
form{
    text-align: center;
    margin-top: 40px;
}
form label{
    font-size: 20px;
    font-weight: 700;
    color: #121212;
}
form input, form textarea{
    font-size: 18px;
    font-weight: 500;
    display: block;
    margin: 0 auto;
    border: 0px solid #fff;
    width: 70%;
    margin-top: 40px;
    padding: 15px;
    border-radius: 4px;
    font-family: 'Raleway',sans-serif;
    background-color: #f0f0f0;
    resize: none;
}
form .button{
    background-color: #fff;
    width: 120px;
    color: crimson;
    font-weight: 500;
    text-align:center;
    border: 2px solid crimson;
    transition: all .3s ease;
    padding: 10px;
}
form .button:hover{
    background-color: crimson;
    color: #fff;
}
/* FOOTER  */
footer{
    background-color: #121212;
    color: #fff;
    margin-top: 80px;
}
footer p{
    text-align: center;
    padding: 15px;
}